# Frontend dependencies and Nuxt build output
laravel-nuxt-docker/frontend/node_modules/
laravel-nuxt-docker/frontend/.nuxt/
laravel-nuxt-docker/frontend/yarn.lock
laravel-nuxt-docker/frontend/package-lock.json
# Backend PHP dependencies
laravel-nuxt-docker/backend/vendor/
